.header {
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding: 2rem 10%;
  background: #111;
  color: white;
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  z-index: 100;

  &__logo img {
    width: 150px;
  }

  &__nav ul {
    list-style: none;
    display: flex;
    gap: 2rem;
  }

  &__nav a {
    text-decoration: none;
    color: white;
    font-weight: bold;
    font-size: 1.2rem;
    cursor: pointer;
    transition: color 0.3s ease;

    &:hover {
      color: #ff3c38;
    }
  }
}
